<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/4978d83d65.js" crossorigin="anonymous"></script>


    <title>foosicamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('record_player_icon.png') %>
    <script type='text/javascript'>
      window.user_logo = "<%= image_url('user_logo.png') %>"
      window.lightning_icon = "<%= image_url('lightning_icon.png') %>"
      window.heart_icon = "<%= image_url('heart_icon.png') %>"
      window.rhombus = "<%= image_url('rhombus.png') %>"
      window.play_icon = "<%= image_url('play_icon.png') %>"
      window.pause_icon = "<%= image_url('pause_icon.png') %>"
      window.notification_icon = "<%= image_url('notification_icon.svg') %>"
      window.pause_icon = "<%= image_url('pause_icon.png') %>"
      window.no_image = "<%= image_url('no_image.png') %>"
      window.share_icon = "<%= image_url('share_icon.png') %>"



      window.virtual_reality = "<%= image_url('virtual_reality.png') %>"
      window.guitarist1 = "<%= image_url('guitarist1.jpg') %>"
      window.empty_festival = "<%= image_url('empty_festival.jpg') %>"
      window.sad_artist = "<%= image_url('disgruntled_artist.jpg') %>"


    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
